Repository metastable/hangover: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, remark -o

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --fix", "git add"],
  "*.{css,scss,sass,less}": ["prettier --write", "stylelint --fix", "git add"],
  "{*.{json,md}}": ["remark -o", "prettier --write", "git add"]
}

formatted
  .eslintrc
  codegen.yml
  src/assets/sass/styles.sass
  src/assets/scss/styles.scss
  src/cms/cms.js
  src/components/AboutPageTemplate/index.tsx
  src/components/ArticleTemplate/index.tsx
  src/components/ContactPageTemplate/index.tsx
  src/components/Content/index.tsx
  src/components/Disqus/index.tsx
  src/components/Footer/index.tsx
  src/components/HomePageTemplate/index.tsx
  src/components/Layout/index.tsx
  src/components/NavBar/index.tsx
  src/components/Offerings/index.tsx
  src/components/PostCard/index.tsx
  src/components/Pricing/index.tsx
  src/components/PricingPageTemplate/index.tsx
  src/components/SEO/index.tsx
  src/components/SearchBox/index.tsx
  src/components/Share/index.tsx
  src/components/Share/styles.sass
  src/components/Share/styles.scss
  src/components/Testimonials/index.tsx
  src/html.tsx
  src/pages/about/index.md
  src/pages/index.md
  src/pages/pricing/index.md
  src/templates/about-page.tsx
  src/templates/article-page.tsx
  src/templates/blog.tsx
  src/templates/contact-page.tsx
  src/templates/home-page.tsx
  src/templates/pricing-page.tsx
  src/templates/tags.tsx
Due: eslint --fix, prettier --write, stylelint --fix

formatted
  .eslintrc
  jest.config.js
  netlify.toml
  package.json
  yarn.lock
Due: eslint --fix

Upload “/static/img/ikuradon.jpg”
  static/img/ikuradon.jpg
Due: none

Upload “/static/img/kaisendon.jpg”
  static/img/kaisendon.jpg
Due: none

Upload “/static/img/magurodon.jpg”
  static/img/magurodon.jpg
Due: none

Create Blog “test”
  src/pages/blog/test.md
Due: none

First Commit
  README.md
Due: none

Updating “test” metadata
  test.json
Due: none
